
.testimonials img{
    width: 20vh;
    border-radius: 25%;
}
.testimonials h6{
    text-align: center;
    color: #000;
}

.main{
    display: flex;
    font-family: sans-serif;
}

.testimonials {
    display: flex;
}

.testimonials p{
    font-size: small;
    padding: 2%;
    text-align: justify;
}

.header h3{
    text-transform: capitalize;
    text-align: center;
    font-family: sans-serif;
    text-decoration: underline;
}
.Courses img{
    height: 30vh;
    width: 30vh;
    border-radius: 25%;
    justify-content: space-between;
    padding: 4%;
}
.Courses h6{
text-align: center;
}
.content{
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:chocolate;
}
.Courses p{
    font-size: small;
    padding: 2%;
}
.header h3{
    text-transform: capitalize;
    text-align: center;
    font-family: sans-serif;
    text-decoration: underline ;
}