
#nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 2%;
    background-color: aquamarine;
}
#home{
    text-align: center;
}
#two img{
    width: 50vw;
    border-radius: 15% 0 15% 0;
}
#about{
    text-align: start;
}
